{% extends "layout.njk" %}

{% block content %}

    <form action="/teachers" class="container" method="POST">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/10356769/500x500) no-repeat center center / cover "></section>
        <section class="infos">
            <h3>Details</h3>

            <div class="item">
                <div>Avatar</div>
                <div>
                    <input type="text" name="avatar_url" placeholder="http://">
                </div>
            </div>

            <div class="item">
                <div>Teacher</div>
                <div>
                    <input type="text" name="name" placeholder="Name of Teacher">
                </div>
            </div>

            <div class="item">
                <div>Yers old</div>
                <input type="date" name="birth">
            </div>

            <div class="item">
                <div>schooling</div>
                <div>
                    <select  class="custom-select" name="schooling">
                        <option value="highschool" selected="selected">Complete high school</option>
                        <option value="highereducation" >Complete Higher Education</option>
                        <option value="master">Master</option>
                        <option value="Doctorate">Doctorate degree</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>type of class</div>
                <div>
                    <span><input type="radio" name="modo" value="Distance">Distance</span>
                    <span><input type="radio" name="modo" value="presential">presential</span>
                </div>
            </div>

            <div class="item">
                <div>school subjects</div>
                <div>
                    <input type="text" name="subjects" placeholder="Separate subjects with commas">
                </div>
            </div>

            <button type="submit">Save</button>

        </section>
    </form>
{% endblock content %}