<div class="item">
    <div>Avatar</div>
    <div>
        <input type="text" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Teacher</div>
    <div>
        <input type="text" name="name" placeholder="Name of Teacher" value="{{teacher.name}}">
    </div>
</div>

<div class="item">
    <div>Yers old</div>
    <input type="date" name="birth" value="{{teacher.birth}}">
</div>

<div class="item">
    <div>schooling</div>
    <div>
        <select class="custom-select" name="schooling">
             <option value="highschool" {% if student.year == "highschool" %} selected {% endif %}>
                Complete high school
            </option>
            <option value="highereducation" {% if student.year == "highereducation" %} selected {% endif %}>
                Complete Higher Education
            </option>
            <option value="master" {% if student.year == "master" %} selected {% endif %}>
                Master
            </option>
            <option value="Doctorate" {% if student.year == "Doctorate" %} selected {% endif %}>
                Doctorate degree
            </option>
            
        </select>
    </div>
</div>

<div class="item">
    <div>type of class</div>
    <div>
        <span><input type="radio" name="modo" value="Distance" {% if teacher.modo == 'Distance' %} checked="checked" {% endif %}>
        Distance
        </span>
        <span><input type="radio" name="modo" value="Presential"{% if teacher.modo == 'Presential' %} checked="checked" {% endif %}>
        Presential
        </span>
    </div>
</div>

<div class="item">
    <div>Gender</div>
    <div>
        <span><input type="radio" name="gender" value="M" {% if teacher.gender == 'M' %} checked="checked" {% endif %}>
            Masculino
        </span>
        <span><input type="radio" name="gender" value="F" {% if teacher.gender == 'F' %} checked="checked" {% endif %}>
            Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>school subjects</div>
    <div>
        <input type="text" name="subjects" placeholder="Separate subjects with commas" value="{{teacher.subjects}}">
    </div>
</div>

<button type="submit"> <i class="fas fa-save"></i> Save</button>