{% extends "layout.njk" %}

{% block content %}

<div class="container">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/10356769/500x500) no-repeat center center / cover "></section>
    <section class="infos">
        <h3>Datalhes</h3>

        <div class="item">
            <div>Nome </div>
            <div>Juliano Lanzi Lopes</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>27 anos</div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>Doutorado</div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>Presencial </div>
        </div>

        <div class="item">
            <div>Acompanhamento </div>
            <div><span>Matemática</span> 
                 <span>Física</span>
                 <span>Química</span>
            </div>
        </div>

        <div class="item">
            <div>Cadastrado desde </div>
            <div>02/07/2020</div>
        </div>
        
    </section>
</div>
{% endblock content %}